<div class="tab-pane fade" id="intraceuticals"><!-- Links Targets Intraceuticals -->
<div class="row"><!-- row Title -->
  <div class="col-lg-12"> <!-- col Title -->
    <h2>Intraceuticals</h2>
  </div><!--End col Title -->
</div><!--End row Title -->
  <div class="row">
    <div class="col-lg-12" id="intra1"> <!-- intra1 -->
                <h3>Intraceuticals Oxygen Infusion</h3>
                    <p>
                      
    
                    intraceuticals revolutioniert die sauerstofftherapie - mittels ausgefeilter technik können hochangereicherte wirkstoffe direkt in die haut implementiert werden und ihre straffenden und verjüngenden resultate erzielen
                    • Hyaluronsäure	Vitamine A, C, E	Grüner Tee	Aloe Vera
                    ganz ohne nebenwirkungen, nadeln oder gar schmerzen
                    das intraceutical-applikationsinstrument vernebelt mit sauerstoff die wirkstoffseren direkt auf der hautoberfläche - der entstehende unterdruck und die stimmulierende kraft des sauerstoffs transportieren die wirkstoffe reichhaltig in die entsprechenden hautschichten ergebnis: sorfort sichtbare resultate
                    <ul>
                    <li>	stimuliert die regeneration neuer zellen </li>
                    <li>	regt die elastin- sowie kollagenproduktion</li>
                    <li>	linien und falten verschwinden</li>
                    <li>	akne, rosacea, couperose, Narbenbildung werden gemildert</li>
                    </ul>
                    zahlreiche celebrities, haben sich in diese behandlung verliebt und lassen sich gerne vor einem fotoshooting oder vor einem tv-auftritt behandeln. mit jeder behandlung verbessert sich dieses und hält länger an. es eignet sich auch bevor ein besonderes event zurecht machen wollen wie hochzeit, abschlussball, erstes date ...
                  </p>
                    <h4> ablauf </h4>
                    <ol>
                   <li>	applikation mit vernebelungsinstrument </li>                                                                                                 sie spüren ein kühles, erfrischendes kribbeln	
                        
                   <li>		rasend schnelle ergebnisse  
                    schon nach 6 wochen deutliche verringerung der faltentiefe und glattere hautoberfläche </li>
                    <li>		quick refresh </li>
                  </ol>
                   <p> bereits eine behandlung auf die gesichtshaut wirkt vitalisierend - der teint ist
                    frischer und die oberfläche ebenmässig schön
                    
                                          
                                  
                                </p>
                                 <table class="table">
                       <thead> 
                          <tr>
                          <th scope="col"></th>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr>
                          <td>pauschalpreis	(6x)</td>
                          <td>   1699.-fr.</td>
                        </tr>
                        <tr>
                          <td>Normal</td>
                          <td>320.- fr.</td>
                        </tr>
                                                                 <tr>
            <td></td>
            <td></td>
        </tr>
                      </tbody>
                      </table>
    </div>
    <div class="col-lg-12" id="intra2"><!-- intra2 -->
     <h3> Intraceuticals für eye lift </h3>
                    <table class="table">
                       <thead> 
                          <tr>
                          <th scope="col"></th>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>

                        <tr>
                          <td>natürliche aminosäure, hyaluronsäure</td>
            
                        </tr>
                    
                            <tr><td>sichtbare glättung der falten</td> <td></td></tr>
                                <tr><td>prävention von neuen falten</td><td></td></tr>	
                                    <tr><td>deutlich geminderte linien und falten</td><td></td></tr>
                                        <tr><td>frischer teint	</td><td> 180.-fr. </td></tr>	                                 
                                            <tr><td>pauschalpreis (6x) </td><td>990.-fr.</td></tr>

                                                 <tr>
            <td></td>
            <td></td>
        </tr>
        </tbody>
                    </table>

    </div>


  </div> <!-- End row -->
</div><!-- End Links Targets Intraceutiicals -->
