<section id="marketing">
  <div class="container">
    <div class="row">
        <div class="col-xs-4">
            <div class="mycontent">
          <img src="src/img/img003.jpg" alt="Intraceuticals" class="img-responsive">
          <div class="overlay">
            <div class="text">
                <div class="row">
                    <div class="col-xs-12">
            <h4 class="text-center">Intraceuticals Oxygen Infussion</h4>
            <p>intraceuticals revolutioniert die sauerstofftherapie - mittels ausgefeilter technik können hochangereicherte wirkstoffe direkt in die haut implementiert werden und ihre straffenden und verjüngenden resultate erzielen</p>
            </div>
          </div>
          </div>
        </div>
          </div>
        </div> <!-- End Intraceuticals -->
        <div class="col-xs-4">
            <div class="mycontent">
          <img src="src/img/img001.jpg" alt="Facials" class="img-responsive">
          <div class="overlay">
            <div class="text">
                <div class="row">
                    <div class="col-xs-12">
            <h4 class="text-center">Facials Dermalogica</h4>
            <p>Wenn ihre haut eine auszeit braucht, sie aber nur wenig zeit haben, dann ist dermalogicas MicroZone® Behandlung die ultimative lösung</p>
            </div>
            </div>
            </div>
        </div>
          </div>
        </div> <!-- End Facials -->
        <div class="col-xs-4 ">
            <div class="mycontent">
          <img src="src/img/img002.jpg" alt="Nagel OPI" class="img-responsive">
          <div class="overlay">
            <div class="text">
              <div class="row">
                <div class="col-xs-12">
                <h4 class="text-center">Nagel OPI </h4>
                <p>nägel werden geformt - danach wird die nagelhaut sorgfältig gereinigt folgt den warmen handbad & eine feste hand- und armmassage - nagellack mit O.P.I. </p>
                </div>
            </div>
          </div>
        </div>
          </div>
        </div> <!-- End Nagel OPI -->

    </div>
  </div>
</section><!--- End Marketing Section -->