<div class="tab-pane fade active in" id="nagel"><!-- Links Targets Nagel -->
<div class="row">
  <div class="col-lg-12">
    <h2>Nagel OPI </h2>
  </div>
</div>
  <div class="row">
    <div class="col-lg-12">
      <h3> Classic Manicure </h3>
      <p> 
nägel werden geformt - danach wird die nagelhaut sorgfältig gereinigt folgt den warmen handbad & eine feste hand- und armmassage - nagellack mit O.P.I. <br>
</p>
<table class="table">
         <thead> 
                          <tr>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr><td>65.-fr.</td></tr>
<tr>
  <td></td>
</tr>
                      </tbody>
</table>
    </div>
    <div class="col-lg-12">
      <h3> Quick Manicure</h3>
      <p>
         
feilen & nagellack & schlusspflege <br>
  </p>
<table class="table">
         <thead> 
                          <tr>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>
<tr><td>40.-fr.</td></tr>
<tr>
  <td></td>
</tr>

                      </tbody>	
    </table>
    
    </div>

    <div class="col-lg-12">
      <h3> Permanent Polish Manicure </h3>
      <p>
          
gel colore O.P.I.  beinhaltet die classic manicure ohne handbad. <br>

      </p>
      <table class="table">
         <thead> 
                          <tr>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr><td>75.-fr.</td></tr>
                        <tr>
  <td></td>
</tr>

                      </tbody>
      </table>
    </div>
    <div class="col-lg-12">
      <h3> Classic Pedicure mit Lack</h3>
      <p>

fussbad inclusive peeling, nägel werden geformt - danach wird die nagelhaut sorgfältig gereinigt - trockene harte haut wird unter den füssen entfernt folgt eine feste fuss- und beinmassage.
nagelllack mit O.P.I. <br>
      </p>
      <table class="table">
         <thead> 
                          <tr>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>
<tr><td>	ohne lack 70.-fr. </td></tr>
<tr><td> mit lack  80.-fr.</td></tr>
<tr>
  <td></td>
</tr>
                        </tbody>
                        </table>
    </div>

    <div class="col-lg-12">
      <h3>Quick Pedicure</h3>
      <p>

fussbad - feilen - nagellack - schlusspflege <br>


      </p>
      <table class="table">
         <thead> 
                          <tr>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr>
                          <td> 50.-fr.</td>
                        </tr>
                        <tr>
  <td></td>
</tr>
                        </tbody>
      </table>
    </div>

    <div class="col-lg-12">
      <h3>Permanent Polish Pedicure</h3>
      <p>

gel colore O.P.I.  beinhaltet die classic pedicure ohne fussdbad. <br>


      </p>
      <table class="table">
         <thead> 
                          <tr>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr>
                          <td>90.-fr.</td>
                        </tr>
<tr>
  <td></td>
</tr>
                        </tbody>
      </table>
    </div>

  </div> <!-- End row -->
</div><!-- End Links Targets Nagel -->
