<div class="tab-pane fade" id="wax"><!-- Links Targets Wax -->
<div class="row">
  <div class="col-lg-12">
    <h2>Haarentfernung mit Warmachs</h2>
    <p>wünschen sie sich seidenglatte beine, wo keine stoppeln mehr pieksen, wo das nachwachsen ein paar wochen auf sich warten lässt? dann entscheiden sie sich für diese ruck-zuck-warmwachsmethode.</p>
  </div>
</div>
  <div class="row">
    <div class="col-lg-6">
      <h3> Wax 1 </h3>
    </div>
    <div class="col-lg-6">
      <h3> Wax 2</h3>
    </div>

    <div class="col-lg-6">
      <h3> Wax 3 </h3>
    </div>
    <div class="col-lg-6">
      <h3> Wax 4</h3>
    </div>

  </div> <!-- End row -->
</div><!-- End Links Targets Wax -->
