/* =======================================
author Kingsley Nnaji
Imported for base.css
use this file for your custom styles
========================================== */
body {
	background-color: @sbcBackground;
	padding-top: 50px;
}

header {
	background-color: @pageHeader;
	height: 200px;
}

h1 {
	color: @headings;
}

footer {
	color: @forFonts;
}
