section {
    background-color: @forFonts;
}

table {
    thead th {
        background-color: @background-blue-darker; // #6f6660;
        color: #fff;
    }
    
    tr td {
      border-bottom: 1px solid black;
    }
    
    tbody td {
        border-left: 0.5px solid black;
    }
    
}

.sub-header {
  // background-color: gray;
    // margin-bottom: 20px;
    // border-top: 1px solid grey;
    h3 {
        color: @menu-background-blue;
    }
}

.img-sizing-moreTpadding {
    padding-top: 100px;
}

.img-sizing {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 4px;
}


.text-blue {
    color: @menu-background-blue;
}

/* Angebot Navigation */

