#marketing {
    padding: 20px;
    background-color: rgb(216, 216, 216);
	margin-bottom: 10px;
	text-align: center;

}

.marketing-centered{
//	background-color: blue;
	padding-left: 10px;
}

.mycontent {
	position: relative;
	margin-left: 20px;
}

.image {
	display: block;
	width: 100%;
	height: auto;
	overflow:hidden;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: @sbcBackground; // #6f6660;
	color: #fff;
	// color: lighten(@mtFonts-color, 30%);
	text-align: left;
	overflow: hidden;
	width: 100%;
	height: 25%;
    transition: .1s ease;
}


.text {
	position: absolute;
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;

	p{
		opacity: 0;
	}

	h3{
		font-size: 1.5em;
		font-weight: 100;
		padding-bottom: 2px;
	}
	
}
 
.mycontent:hover {
	.overlay {
		height: 70%;
		background: rgba(0, 0, 0, 0.8);
		transition: .9s background ease;
		color: #fff;
		font-size: 12px;
	}

	h3{
		font-size: 1.2em;
	}

	.text p{
		opacity: 1;
	}

}

.padding-top {
	padding: 100px 0 0 50px;
}

.white-background {
	background: #fff;
	
}

.padding-bottom {
	margin-bottom: 20px;
}

@media(max-width: 778px) {
	
	.mycontent:hover .overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
        background-color: #f5f4f1;
        transition: none;
		color: #222;
		overflow: hidden;
		width: 100%;
		height: 25%;
	
	}
	
	.text {
		position: absolute;
		overflow: hidden;
		padding-left: 10px;
		padding-right: 10px;

		p{
			opacity: 0;
			font-size: 11px;
		}

		h4{
			font-size: 1em;
		}
	
	}
	
	.mycontent {
		position: relative;
	}

	.image {
		display: block;
		width: 100%;
		height: auto;
		// overflow:hidden;
	}

	.mycontent:hover {

		h4{
			font-size: 1em;
			}

	.text p{
			opacity: 0;
			font-size: 11px;
			}
			
	}

   .overlay {
        height: 100%;
        display: none;
	}
	
	.img-sizing-moreTpadding {
		padding-top: 0;
		padding-bottom: 0;
	}
	
}
