


.headings {
    // background-color: #e7692c;
    background-color: #133064;
    margin: 0 0 10px 0;
}

.headings h1 {
    margin: 50px 0 50px 150px;
    color: #fff;
}

#angebot-menu {
    margin-top: 50px;
}

.sub-header {

    border-top: 1px solid #333;
    
}