/* =======================================
    author Kingsley Nnaji
    Less variables
=========================================== */
@headings : #222;
@sbcBackground: darken(#fff, 50%);
@pageHeader: #362212;
