/* =======================================
author Kingsley Nnaji
Less variables #362212;
=========================================== */
@headings : #222;
@sbcBackground: darken(#fff, 50%);
@pageHeader: #fafff8;
@forFonts: #fff;
