

<div class="container"> <!-- Facial Treatment Data-Toggle Menu -->
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs"> <!--- Navigation Tabs -->
        <li><a href="#dermalogica" data-toggle="tab">DERMALOGICA</a></li>
        <li><a href="#intraceuticals" data-toggle="tab">INTRACEUTICALS</a></li>
        <li><a href="#microdermabrasion" data-toggle="tab">MICRODERMABRASION</a></li>
        <li><a href="#wimpernBrauen" data-toggle="tab">WIMPERN & BRAUEN</a></li>
      </ul>
      <div class="tab-content"> <!-- Links Targets -->
        {{>dermalogica}}

        {{>intraceuticals}}

        {{>microdermabrasion}}

         {{> wimpernBrauen }}


      </div><!-- End Links Targets -->
    </div><!--- End col -->
  </div><!--- End row -->
</div> <!-- End Facial Treatment Data-Toggle Menu -->






            




