<section class="headings">
<div class="container">
  <div class="row brands">

{{#each items}}
       <div class="col-lg-3 col-sm-3 col-xs-6 col-md-3">
          <div class="logo-brands">
              <a target="_blank" href="{{brandLinks}}"  title="{{brandName}} ">
            <img src="{{imgSrc}}" alt="logo {{brandName}}">
            </a>
         </div>
      </div>
      {{/each}}

   <!--   <div class="col-lg-2 col-md-4">
          <div class="logo-brands">
            <img src="./src/img/logo-dermalogica.png" alt="logo dermalogica">
         </div>
      </div>
      <div class="col-lg-2 col-md-4">
          <div class="logo-brands">
            <img src="./src/img/logo-opi.png" alt="logo opi">
         </div>
      </div>
       <div class="col-lg-2 col-md-4">
          <div class="logo-brands" id="logo-mavex">
            <img src="./src/img/logo-mavex.png" alt="logo mavex">
         </div>
      </div>
          
                      <div class="col-lg-2 col-md-4">
          <div class="logo-brands"  id="logo-intraceuticals">
            <img src="./src/img/intraceuticals-logo.png" alt="logo intraceuticals">
         </div>
      </div>

      -->
  </div>
</div>
</section>