<div class="tab-pane fade" id="dermalogica"><!-- Links Targets Dermalogical -->
<div class="row"><!-- row Title -->
  <div class="col-lg-12"><!-- col Title -->
    <h2>Dermalogica</h2>
    <p> je nach hautzustand wird die gesichtspflege bestimmt : sensible, akne, pigmentierte, irritierte, sonnengeschädigte haut </p>
  </div><!-- End col Title -->
</div><!-- End row Title -->
  <div class="row">
    <div class="col-lg-12 sub-header" id="derm1"><!-- derm1 -->
      <h3> Dermalogica Gesichtsbehandlung </h3>
<table class="table">
                      <thead> 
                          <tr>
                          <th scope="col"></th>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>

                    <tr><td>reinigungsmassage </td>
                    <td > </td> </tr>
                    <tr><td>face mapping (hautanalyse)</td>
                    <td> </td> </tr>  
                    <tr><td>peeling mit bedampfung  </td>
                    <td> </td> </tr>
                    <tr><td>behandlung von hautunreinheiten</td>
                    <td> </td> </tr>  
                    <tr><td> wirkstoffkomplex</td>
                    <td> </td></tr> 
                    <tr><td>gesicht hals décolletémassage </td>
                    <td> </td> </tr>
                    <tr><td> maske</td>
                    <td> </td> </tr>
                    <tr><td>hand oder fussmassage</td>
                    <td> </td> </tr>
                    <tr><td> abschlusspflege</td> <td> ca. 75` /160.-fr.</td></tr>							
                    <tr><td><span class="text-right">*</span>ultraschall-einsatz (tiefere porenreinigung)</td> <td> ca. 75‘	/ 180.- fr.</td> </tr>	
           


                      </tbody>
</table>

    </div> <!-- End derm1 -->

    <div class="col-lg-12 sub-header" id="derm2"> <!-- derm2 -->
      <h3> Mann – Dermalogica Gesichtsbehandlung </h3>
      <p> Entspannende gesichtsbehandlung </p>
<table class="table">
                      <thead> 
                          <tr>
                          <th scope="col">ANGEBOT</th>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>
                    <tr>
                        <td>reinigungsmassage </td><td></td>
                    </tr> 
                    <tr><td>face mapping (hautanalyse)</td><td></td></tr>  
                    <tr><td>peeling mit bedampfung</td><td></td>  </tr> 
                    <tr><td>behandlung von hautunreinheiten</td><td></td> </tr>
                    <tr><td>wirkstoffkomplex </td><td></td> </tr>
                                        <tr><td>gesicht - hals - décolletémassage</td>	<td></td> </tr>
                                            <tr><td>	maske </td>	<td></td></tr>
                                                <tr><td>hand oder fussmassage</td><td></td> </tr> 
                                                    <tr><td>abschlusspflege</td>	<td>ca. 1h / 150.-fr.</td></tr> 
                                                        <tr> <td><span>*</span>ultraschall-einsatz (tiefere porenreinigung)</td> <td>ca. 75`/ 180.- fr.</td></tr> 
                                                            <tr><td>im preis nicht inbegriffen:</td><td></td> </tr> 
                                                                <tr><td>brauen in form bringen – nase - ohrenhaarentfernung </td><td> 65.-fr.</td></tr> 

		
                      </tbody>
</table>
     
    </div><!-- End derm2 -->

    <div class="col-lg-12 sub-header" id="derm3"><!-- End derm3 -->
     <h3> Microzonentherapie</h3>
                  <p>
                  wenn ihre haut eine auszeit braucht, sie aber nur wenig zeit haben, dann ist dermalogicas MicroZone® Behandlung die ultimative lösung.
                  diese kostengünstigen, 30-minütigen Behandlungen eignen sich hervorragend für akute hautprobleme, wie pustelausbrüche, glanzlose haut und müde augen, zwischen den 60-minütigen kompletten dermalogica behandlungen. sie sind auch ideal für dermalogica neueinsteiger, einschließlich männer und jugendlichen.
                  </p>
                  <h4> Was zu erwarten ist </h4>
                  <p>
                  während jeder MicroZone® Behandlung wird ich ihre haut analysieren und eine gezielte behandlung  durchführen, mit exklusiven dermalogica-techniken, wie die dermalogica doppelreiningung. ihre haut wird sofort gesünder aussehen und sich gesünder anfühlen!
                  </p>
                  <h4> MicroZone® Behandlungsmenü </h4>
                 <p>
                 <h3>Flash Exfoliation</h3> 
                  intensives peeling für die glanzlose, matte haut, um einen strahlenden glanz zu erhalten.
                  <h3>Eye Rescue</h3>
                  revitalisiert müde augen, indem es pigmentflecken, feine lLinien und schwellungen minimiert.
                  <h3>AGE Repair</h3>
                  zeichen der hautalterung bekämpfen und mit dieser erholsamen behandlung reparieren.
                  <h3>Blackhead Relief</h3>
                  die ölige haut gründlich reinigen und verstopfungen der hautporen lösen.
                  <h3>Oil Control</h3>
                  den ölglanz der haut mindern, die haut reinigen und glätten.
                  <h3>Men’s Skin Fitness</h3>
                  mit dieser gründlichen reinigung, spezifisch für männer, wird die haut geklärt und beruhigt
                  <h3>Skin Soothing</h3>
                  mit dieser kühlenden behandlung  für sensibilisierte Haut, werden rötungen und hautreizungen gemindert
                  Clear Start™ Breakout Clearing
                  ohne hautreizungen pubertätspickel loswerden.
                 </p>

                 <table class="table">
                      <thead> 
                          <tr>
                          <th scope="col">ANGEBOT</th>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>
                        
                 <tr>	<td>face mapping (hautanalyse) </td>
                 <td> </td></tr>  
                    <tr><td>reinigungsmassage </td>
                    <td> </td>	</tr> 
                        <tr><td>peeling mit bedampfung </td><td> </td></tr>  
                            <tr><td>1-3 zonen behandlung von Hautunreinheiten< </td> <td> </td>	</tr>
                                <tr><td>	maske : 3 zonen </td><td> </td> </tr>
                                    <tr><td>Abschlusspflege </td><td> ca. 30` / 60.-fr. </td>	</tr>      

                      </tbody>
                      </table>

            
    </div><!-- End derm3 -->


    <div class="col-lg-12 sub-header" id="derm4"><!-- End derm4 -->
     <h3>Teen – Dermalogica Gesichtsbehandlung</h3>
                    <p>
                    jugendliche haut braucht besondere aufmerksamkeit und pflege um
                    regelmässige unreinheiten zu reduzieren, den teint zu klären, die poren zu verfeinern und ein makelloses und ebenmässiges hautbild zu erhalten
                  </p>
                  <table class="table">
                      <thead> 
                          <tr>
                          <th scope="col">ANGEBOT</th>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>
<tr>	
    <td> Face mapping (hautanalyse)</td>  
    <td> </td>
    </tr>
        <tr>	
    <td> Reinigungsmassage </td>  
    <td> </td>
    </tr>
        <tr>	
    <td>Peeling (je nach hautzustand mit bedampfung) </td>  
    <td> </td>
    </tr>
          <tr>	
    <td> Behandlung von Hautunreinheiten</td>  
    <td> </td>
    </tr>
      <tr>	
    <td> 	Maske</td>  
    <td> </td>
    </tr>
         <tr>	
    <td> Hand oder Fussmassage	</td>  
    <td> </td>
    </tr>
  <tr>	
    <td> 	abschlusspflege	</td>  
    <td> 1h / 130.- fr.</td>
    </tr>

                      </tbody>
                      
                  </table>
                  
    </div><!-- End derm4 -->

    <div class="col-lg-12 sub-header" id="derm5"><!-- End derm5 -->
      <h3> Dermalogica Tiefreinigung </h3>
      <table class="table">
                      <thead> 
                          <tr>
                          <th scope="col">ANGEBOT</th>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                      <td> reinigungsmassage </td>
                                      <td> </td>
                                      </tr>
                                      <tr><td>face mapping (hautanalyse)</td><td></td> </tr>
                                      <tr><td>peeling mit bedampfung </td><td></td></tr>
                                      <tr><td>	behandlung von hautunreinheiten : akne, grieskörner (milien)</td><td></td></tr>
                                      <tr><td>	wirkstoffkomplex </td><td></td></tr>
                                      
                                      <tr><td>	maske </td><td></td></tr>
                                      <tr><td>hand oder fussmassage</td><td></td></tr>
                                      <tr><td>abschlusspflege</td>
                                       <td>  ca. 75` / 160.-fr. </td>
                                       </tr>
                                      <tr>
                                      <td><span>  *</span>ultraschall-einsatz (tiefere porenreinigung)</td><td>ca. 75`/ 180.- fr.	</td>
                                  </tr>
                        </tbody>
        </table>

    </div><!-- End derm5 -->

   
  </div> <!-- End row -->
</div><!-- End Links Targets Dermalogica -->
