<div class="tab-pane fade" id="dermalogica"><!-- Links Targets Dermalogical -->
<div class="row"><!-- row Title -->
  <div class="col-lg-12"><!-- col Title -->
    <h2>Dermalogica</h2>
    <p> Je nach hautzustand wird die gesichtspflege bestimmt : sensible, akne, pigmentierte, irritierte, sonnengeschädigte haut <br>
    <span class="w-angebot"><a href="nagel.html" alt="nagel"> Siehe weiter angebot </a></span>
    </p>

  </div><!-- End col Title -->
</div><!-- End row Title -->
  <div class="row">
    <div class="col-lg-12 sub-header" id="derm1"><!-- derm1 -->
      <h3> Dermalogica Gesichtsbehandlung </h3>

      <p>
          <ul>
                <li>Reinigungsmassage </li>
                <li>Face mapping (hautanalyse)</li>
                <li>Peeling mit bedampfung</li>
                <li>Behandlung von hautunreinheiten</li>
                <li>Wirkstoffkomplex </li>
                <li>Gesicht hals décolletémassage</li>
                <li> Maske</li>
                <li>Hand oder fussmassage</li>
                <li>  Abschlusspflege</li>
         </ul>
      </p>
<table class="table table-striped">
                      <thead> 
                          <tr>
                          <th scope="col"></th>
                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>

                    
                    <tr><td></td> <td> ca. 75` /160.-fr.</td></tr>							
                    <tr><td><span class="text-right stern">*</span>Ultraschall-einsatz (tiefere porenreinigung)</td> <td> ca. 75‘	/ 180.- fr.</td> </tr>	
           


                      </tbody>
</table>

    </div> <!-- End derm1 -->

    <div class="col-lg-12 sub-header" id="derm2"> <!-- derm2 -->
      <h3> Mann – Dermalogica Gesichtsbehandlung </h3>
      <h4> Entspannende gesichtsbehandlung </h4>

      <p>
          <ul>
              <li>Reinigungsmassage</li>
              <li>Face mapping (hautanalyse)</li>
              <li>Peeling mit bedampfung</li>
              <li>Behandlung von hautunreinheiten</li>
              <li>Wirkstoffkomplex</li>
              <li>Gesicht - hals - décolletémassage</li>
              <li>Maske</li>
              <li>Hand oder fussmassage</li>
              <li>Abschlusspflege</li>
          </ul>
      </p>
<table class="table table-striped">
                      <thead> 
                          <tr>
                          <th scope="col"></th>
                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>

                    <tr><td></td>	<td>ca. 1h / 160.-fr.</td></tr> 
                    <tr> <td><span class="stern">*</span>Ultraschall-einsatz (tiefere porenreinigung)</td> <td>ca. 75`/ 180.- fr.</td></tr> 
                    <tr><td>Im preis nicht inbegriffen: Brauen in form bringen – nase - ohrenhaarentfernung </td><td> 65.-fr.</td></tr> 

		
                      </tbody>
</table>
     
    </div><!-- End derm2 -->

    <div class="col-lg-12 sub-header" id="derm3"><!-- End derm3 -->
    <div>
     <h3> Microzonentherapie</h3>
                  <p>
                  Wenn ihre haut eine auszeit braucht, sie aber nur wenig zeit haben, dann ist dermalogicas MicroZone® Behandlung die ultimative lösung.
                  diese kostengünstigen, 30-minütigen Behandlungen eignen sich hervorragend für akute hautprobleme, wie pustelausbrüche, glanzlose haut und müde augen, zwischen den 60-minütigen kompletten dermalogica behandlungen. sie sind auch ideal für dermalogica neueinsteiger, einschließlich männer und jugendlichen.
                  </p>
                  </div>
                  <div>
                  <h4> Was zu erwarten ist </h4>
                  <p>
                  Während jeder MicroZone® Behandlung wird ich ihre haut analysieren und eine gezielte behandlung  durchführen, mit exklusiven dermalogica-techniken, wie die dermalogica doppelreiningung. ihre haut wird sofort gesünder aussehen und sich gesünder anfühlen!
                  </p>
                  <h4> MicroZone® Behandlungsmenü </h4>
                     </div>
                     <div>
                 <h3>Flash Exfoliation</h3> 
                 <p>
                  Intensives peeling für die glanzlose, matte haut, um einen strahlenden glanz zu erhalten.
                  </p>
                  </div>
                  <div>
                  <h3>Eye Rescue</h3>
                  <p>
                  Revitalisiert müde augen, indem es pigmentflecken, feine Linien und schwellungen minimiert.
                  </p>
                  </div>
                  <div>
                  <h3>AGE Repair</h3>
                  <p>
                  Zeichen der hautalterung bekämpfen und mit dieser erholsamen behandlung reparieren.
                   </p>
                  </div>
                  <div>
                  <h3>Blackhead Relief</h3>
                  <p>
                  Die ölige haut gründlich reinigen und verstopfungen der hautporen lösen.
                   </p>
                  </div>
                  <div>
                  <h3>Oil Control</h3>
                  <p>
                  Den ölglanz der haut mindern, die haut reinigen und glätten.
                   </p>
                  </div>
                  <div>
                  <h3>Men’s Skin Fitness</h3>
                  <p>
                  mit dieser gründlichen reinigung, spezifisch für männer, wird die haut geklärt und beruhigt
                   </p>
                  </div>
                  <div>
                  <h3>Skin Soothing</h3>
                  <p>
                  Mit dieser kühlenden behandlung  für sensibilisierte Haut, werden rötungen und hautreizungen gemindert
                  Clear Start™ Breakout Clearing
                  ohne hautreizungen pubertätspickel loswerden.
                   </p>
                  </div>
                <div>
                  <p>
                      <ul>
                          <li>Face mapping (hautanalyse)</li>
                          <li>Reinigungsmassage</li>
                          <li>Peeling mit bedampfung</li>
                          <li>1-3 zonen behandlung von hautunreinheiten</li>
                          <li>Maske : 3 zonen</li>
                          <li>Abschlusspflege</li>
                      </ul>
                  </p>

                 <table class="table table-striped">
                      <thead> 
                          <tr>
                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>
                                    <tr><td> ca. 30` / 60.-fr. </td>	</tr>      

                      </tbody>
                      </table>
</div>  
            
    </div><!-- End derm3 -->

  <div class="col-lg-12 sub-header" id="derm3"><!-- End derm3 -->
    <div>
        <h3>Dermalogica Gesichtsbehandlung and More</h3>
    <p>
        <ul>
            <li>Reinigungsmassage</li>
            <li>Face mapping (hautanalyse)</li>
            <li>Peeling mit bedampfung</li>
            <li>Behandlung von hautunreinheiten</li>
            <li>Wirkstoffkomplex</li>
            <li>Wimpernfärben – brauen in form zupfen – oberlippen enthaarung</li>
            <li>Gesicht - hals - décolletémassage </li>
            <li>Hand oder fussmassage</li>
            <li>Abschlusspflege</li>
        </ul> 

</p>

<table class="table table-striped">
                      <thead> 
                          <tr>

                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>
                                    <tr><td> ca. 2h / 220.- fr.</td>	</tr>      

                      </tbody>
                      </table>

</div>
</div><!-- End derm3 -->








    <div class="col-lg-12 sub-header table-responsive" id="derm4"><!-- End derm4 -->
     <h3>Teen – Dermalogica Gesichtsbehandlung</h3>
                    <p>
                    jugendliche haut braucht besondere aufmerksamkeit und pflege um
                    regelmässige unreinheiten zu reduzieren, den teint zu klären, die poren zu verfeinern und ein makelloses und ebenmässiges hautbild zu erhalten
                  </p>
                  <p>
                      <ul>
                          <li>Face mapping (hautanalyse)</li>
                          <li>Reinigungsmassage</li>
                          <li>Peeling (je nach hautzustand mit bedampfung)</li>
                          <li>Behandlung von hautunreinheiten</li>
                          <li>Maske</li>
                          <li>Hand oder fussmassage</li>
                          <li>Abschlusspflege</li>
                      </ul>
                  </p>
                  <table class="table table-striped table-condensed">
                      <thead> 
                          <tr>
                    
                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>
  <tr>	
    <td> 1h / 130.- fr.</td>
    </tr>

                      </tbody>
                      
                  </table>
                  
    </div><!-- End derm4 -->

    <div class="col-lg-12 sub-header" id="derm5"><!-- End derm5 -->
      <h3> Dermalogica Tiefreinigung </h3>
      <p>
          <ul>
              <li>Face mapping (hautanalyse)</li>
              <li>Reinigungsmassage</li>
              <li>Peeling mit bedampfung</li>
              <li>Behandlung von hautunreinheiten : akne, grieskörner (milien)</li>
              <li>Hirkstoffkomplex</li>
              <li>Maske</li>
              <li>Hand oder fussmassage</li>
              <li>Abschlusspflege</li>

          </ul>
      </p>
      <table class="table table-striped">
                      <thead> 
                          <tr>
                          <th scope="col"></th>
                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                        <tbody>
                                      <tr>
                                          <td> </td>
                                       <td>  ca. 75` / 160.-fr. </td>
                                       </tr>
                                      <tr>
                                      <td><span class="stern">  *</span>Ultraschall-einsatz (tiefere porenreinigung)</td>
                                      <td>ca. 75`/ 180.- fr.	</td>
                                  </tr>
                        </tbody>
        </table>
<p>
        <span class="w-angebot"><a href="kontakt.html"> Terminvereinbarung </a></span>
    </p>
    </div><!-- End derm5 -->
    
   
  </div> <!-- End row -->
</div><!-- End Links Targets Dermalogica -->
