<div class="container"> <!-- Facial Treatment Data-Toggle Menu -->
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs"> <!--- Navigation Tabs -->
        <li><a href="#dermalogica" data-toggle="tab">Dermalogica</a></li>
        <li><a href="#intraceuticals" data-toggle="tab">Intraceuticals</a></li>
        <li><a href="#microdermabrasion" data-toggle="tab">Microdermabrasion</a></li>
        <li><a href="#wimpernBrauen" data-toggle="tab"> wimpern & Brauen</a></li>
      </ul>

      <div class="tab-content"> <!-- Links Targets -->
        {{> dermalogica }}

        {{> intraceuticals }}

        {{> microdermabrasion }}

        {{> wimpernBrauen }}

      </div><!-- End Links Targets -->

    </div>
  </div>
</div> <!-- End Facial Treatment Data-Toggle Menu -->
