<section id="marketing">
  <div class="container">
    <div class="row marketing-centered">
        <div class="col-md-4 img-hover img-related">
            <div class="mycontent">
          <img src="src/img/img003.jpg" alt="Intraceuticals" class="img-responsive">
          <div class="overlay">
            <div class="text">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
            <h4 class="text-center">Intraceuticals</h4>
            <p>intraceuticals revolutioniert die sauerstofftherapie - mittels ausgefeilter technik können hochangereicherte wirkstoffe direkt in die haut implementiert werden und ihre straffenden und verjüngenden resultate erzielen</p>
            </div>
          </div>
          </div>
        </div>
          </div>
        </div> <!-- End Intraceuticals -->
        <div class="col-md-4 img-hover img-related">
            <div class="mycontent">
          <img src="src/img/img001.jpg" alt="dermalogica" class="img-responsive">
          <div class="overlay">
            <div class="text">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
            <h4 class="text-center">Dermalogica</h4>
            <p>Wenn ihre haut eine auszeit braucht, sie aber nur wenig zeit haben, dann ist dermalogicas MicroZone® Behandlung die ultimative lösung</p>
            </div>
            </div>
            </div>
        </div>
          </div>
        </div> <!-- End Dermalogica -->
     
        <div class="col-md-4 img-hover img-related">
            <div class="mycontent">
          <img src="src/img/img002.jpg" alt="OPI" class="img-responsive">
          <div class="overlay">
            <div class="text">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                <h4 class="text-center"> OPI </h4>
                <p>nägel werden geformt - danach wird die nagelhaut sorgfältig gereinigt folgt den warmen handbad & eine feste hand- und armmassage - nagellack mit O.P.I. </p>
                </div>
            </div>
          </div>
        </div>
          </div>
        </div> <!-- End Nagel OPI -->
    </div>
  </div>
</section><!--- End Marketing Section -->