<div class="tab-pane fade" id="microdermabrasion"><!-- Links Targets Intraceuticals -->
<div class="row"><!-- row Title -->
  <div class="col-lg-12"><!-- col Title -->
    <h2>Microdermabrasion</h2>
  </div><!--End Col Title -->
</div><!--End row Title -->
  <div class="row">
    <div class="col-lg-12 sub-header">
      <h3> Microdermabrasion  </h3>
      <p>


Die microdermabrasion für eine bezaubernde haut. fältchen,
pigmentflecken, narben, verhornungen werden deutlich gemildert. die haut sieht rosiger, frischer und strahlender aus. die haut wird für die wirkstoffe aufnahmefähiger.
die mikrodermabrasion verbessert ihre hautstruktur, die nachhaltig überzeugt.
      </p>
      <p>
        <ul>
          <li>Face mapping (hautanlyse)</li>
          <li>Reinigungsmassage</li>
          <li>Hyalronsäure Maske</li>
          <li>Abschlusspflege</li>
        </ul>
      </p>
      <table class="table table-striped">
         <thead> 
                          <tr>
                          <th scope="col"></th>
                                                    <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>
    
<tr><td></td><td>180.- fr.</td></tr>
<tr> <td>Pauschalpreis</td><td>(5x)  810.- fr.</td> </tr>	
                      </tbody>	
    </table>
    <p>
        <span class="w-angebot"><a href="kontakt.html"> Terminvereinbarung </a></span>
    </p>
    </div>


  </div> <!-- End row -->
</div><!-- End Links Targets Microdermabrasion -->
