<div class="tab-pane fade" id="microdermabrasion"><!-- Links Targets Intraceuticals -->
<div class="row"><!-- row Title -->
  <div class="col-lg-12"><!-- col Title -->
    <h2>Microdermabrasion</h2>
  </div><!--End Col Title -->
</div><!--End row Title -->
  <div class="row">
    <div class="col-lg-8">
      <h3> Microdermabrasion  </h3>
      <p>


die microdermabrasion für eine bezaubernde haut fältchen
pigmentflecken, narben, verhornungen werden deutlich gemildert. die haut sieht rosiger, frischer und strahlender aus. die haut wird für die wirkstoffe aufnahmefähiger.
die mikrodermabrasion verbessert ihre hautstruktur, die nachhaltig überzeugt.
      </p>
      <ul>
	<li>Face mapping (hautanlyse)  </li>
<li>  Reinigungsmassage peeling </li> 
<li> Hyaloronsäuremaske </li>	
<li> Abschlusspflege </li>	
</ul>
<span class="text-right"> 180.- fr.</span> <br>
   (5x)  810.- fr.
    </div>

  <div class="col-lg-8">
    <img src="" alt >

  </div>


  </div> <!-- End row -->
</div><!-- End Links Targets Microdermabrasion -->
