<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="test">
        <h2>SUMMER BEAUTY COSMECTICS</h2>
                <p>Lorem ipsum ist Text, der gerne als Platzhalter genommen wird, wenn es noch keinen "richtigen" Text gibt. Der Grund dafür ist ein angenehmer Zeilenfall, der einen guten Eindruck von dem finalen Layout vermittelt. </p>

      </div>
    </div>
  </div>
</header>
