<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="test">
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <hr>
              <h2 class="sbc-heading">SUMMER BEAUTY COSMETIC</h2>
                <p> Die Oase für Entspannung, Wohlbefinden und Schönheit. <br> <br>
                <button type="submit" class="btn btn-primary">Mehr Lessen >> </button>
                </p>
                
                <hr>
          </div>
          <div class="col-lg-2"></div>
        </div>
      
      </div>
    </div>
  </div>
</header>
