<div class=""><!-- Links Targets Mavex -->
<div class="row">
  <div class="col-lg-12">
    <h2>Mavex</h2>
  </div>
</div>
  <div class="row">
    <div class="col-lg-8">
      <p>Mavex CallusPeeling
erstaunliche ergebnisse schon nach der ersten anwendung.

ohne klinge oder fräser,ganz einfach und schnell, calluspeeling® entfernt vollständig
schwielen,hornhaut und rhagaden.
während der regulären pediküre anstelle skalpell, klinge oder fräser. die zeitersparnis ist signifikant: während der einwirkzeit der patches kann man die fußnägel und die nagelhaut behandeln.
in der kabine während der maske innerhalb einer gesichtsbehandlung oder bei körperbehandlungen wie körperwicke.



schöne und gepflegte füsse in nur 15 minuten!		    <br>
								(während der pedicure) .
 </p>
 <table class="table">
         <thead> 
                          <tr>
                          <th scope="col">PRICE</th>
                          <th></th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr>
                          <td>   40.-fr-</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>30.-fr</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
 </table>
    </div>
   
     <div class="col-lg-8">
         <img src="" alt=" ">
     </div>

  </div> <!-- End row -->
</div><!-- End Links Targets Mavex-->
