{{>header}}
{{>menu}}

<section class="headings">
    <div class="container page-title">
        <div class="row">
            <div class="col-lg-12">
                <h1>ANGEBOT</h1>
            </div>
        </div>
    </div> <!-- Page Title -->
    <section>
<div class="container" id="wax"><!-- Links Targets Wax -->
<div class="row">
  <div class="col-lg-12">
    <h2>Haarentfernung mit Warmwachs</h2>
    <p>wünschen sie sich seidenglatte beine, wo keine stoppeln mehr pieksen, wo das nachwachsen ein paar wochen auf sich warten lässt? dann entscheiden sie sich für diese ruck-zuck-warmwachsmethode.
      <a href="#"> <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"> ZUM WAXING </button> </a>	
    </p>
  </div>
</div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table">
                      <thead> 
                          <tr>
                            <th scope="col">ANGEBOT</th>
                          <th scope="col"> ER </th>
                          <th scope="col">SIE</th>
                          </tr>
                        </thead>
                      <tbody>
<tr>
  <td >ganzes bein und zähen </td> 
  <td >	85.-fr.	</td>
  <td>		95.-  </td>
</tr>

<tr>
  <td >bein oberschenkel bis knie	 </td> 
  <td >	60.-</td>
  <td> 70.-</td>
</tr>
<tr>
  <td >beine unterbeine bis knie </td> 
  <td >50.-fr </td>
  <td>60.- </td>
</tr>
<tr>
  <td >bikini, klassik	 </td> 
  <td >30.-fr. </td>
  <td>30.-fr. </td>
</tr>

<tr>
  <td>bikini brazil & pofalte</td>
  <td>60.-fr.</td>
  <td>60.-fr.</td>
</tr>

  <tr>
    <td>Pobacken</td>
    <td>20.-</td>
    <td>20.-</td>
  </tr>			
			<tr>
        <td>achseln	</td>
        <td>30.-fr.</td>
        <td>35.-fr.</td>
      </tr>
							
			 		<tr>
             <td>oberlippe</td>
             <td> 20.-fr.</td>
             <td> 20.-fr.</td>
           </tr>
		<tr>
      <td>kinn</td>
      <td>15-fr.</td>
      <td>15-fr.</td>
    </tr>		 

      <tr>
        <td>hals</td>
        <td>30.-</td>
        <td>30.-</td>
      </tr>			
			  					
		<tr>
      <td>nacken</td>
      <td>30.-</td>
      <td>30.-</td>
    </tr>	 			 
	<tr>
    <td>ohren</td>
    <td>25.-</td>
    <td>25.-</td>
  </tr>				         		 
		<tr>
      <td>brauen</td>
      <td>25.-fr.</td>
      <td>25.-fr.</td>
    </tr>								
	<tr>
    <td>gesicht (ohne brauen)	</td>
    <td>50.-fr.</td>
    <td>50.-fr.</td>
  </tr>								
			<tr>
        <td>augenbrauen</td>
        <td>	25.-fr.	</td>
        <td>35.-fr.</td>
      </tr>							
		<tr>
      <td>brauen in form bringen & nase- und ohrenhaarentfernung</td>
      <td>  65.-fr.</td>
      <td>  65.-fr.</td>
    </tr>				 
		<tr>
      <td>ganze arme</td>
      <td>	50.-fr.</td>
      <td>	75.-</td>
    </tr>
	<tr>
    <td>arme bis ellbogen</td>
    <td> 40.-fr.</td>
    <td> 40.-fr.</td>
  </tr>						
      <tr>
        <td>arme oberarme	</td>
        <td>	25.-</td>
        <td>50.-</td>
      </tr>          
		<tr>
      <td>arme unterarme</td>
      <td>40.-</td>
      <td>49.-</td>
    </tr>			  		
		 		<tr>
           <td>rücken</td>
           <td>55.-fr.</td>
           <td> 69.-fr.</td>
         </tr>	
		<tr>
      <td>rücken & schultergürtel</td>
      <td>95.-</td>
      <td>95.-</td>
    </tr>				
				<tr>
          <td>rücken & schultergürtel & nacken</td>
          <td>125.-</td>
          <td>125.-</td>
        </tr>				
<tr>
  <td>schultergürtel</td>
  <td>55.-</td>
  <td>55.-</td>
</tr>				        		   		 	
	<tr>
    <td>rücken unten</td>
    <td>35.-</td>
    <td>35.-</td>
  </tr>						
	<tr>
    <td>bauch	</td>
    <td>25.-fr.</td>
    <td>55.-</td>
  </tr>					
	<tr>
    <td>brust	</td>
    <td>25.-fr.</td>
    <td>55.-fr.</td>
  </tr>												
                      </tbody>
</table>


    </div>
    <div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">> <!-- Modal Section -->
     <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Info zum WAXING</h4>
      </div>
      <div class="modal-body">
        <p>

            Die Haare für das Waxing sollten ca.0,5 cm lang sein
            Das Waxing  entfernt das Haar mitsamt der Wurzel. 
            Durch eine Warmwachspatrone, die mithilfe eines Wachsrollers zum Einsatz kommt werden Beinen, Rücken oder Bauch, mittels Vliesstreifen entfernt. 
            An empfindlicheren Stellen, wird das Warmwachs mit einem Holzspatel aufgetragen und abgezogen.
            Um das Risiko eingewachsener Härchen zu minimieren, sollten Sie 5 Tage nach der Behandlung mit einem Peeling beginnen. 
            Bereits nach der 3. Behandlung verringert sich so die Haardichte und die Haare wachsen viel weicher nach. Im Gegensatz zur Rasur, nach der die Haare hart und stoppelig nachwachsen, werden die Härchen durchs Waxing immer weicher.
            Waxing bei Schwangerschaft sind bis kurz vor der Geburt möglich.

            Achten Sie darauf, dass die Haut vor und 24 Stundenden nach dem Waxing nicht der Sonne, Solarium oder Chlorwassers ( Schwimmbad) ausgesetzt wird. 
            Die Haut darf 72 Stunden vor dem Waxing nicht gepeelt werden. 
            Am Tag der Enthaarung die Haut nicht eingecremen oder einölen. 
            Sie sollte 24 Stunden nach der Behandlung generell auf Sport verzichten. 
            Unmittelbar nach der Enthaarung keine chemischen bzw. mit Alkohol aufbereiteten Pflegeprodukte. Beim Achsel-Waxing keinen Deodorant mit Alkoholzusatz benutzen.
            Das wohltuende Aloe Vera Gel kühlt angenehm an und wird nach der Haarentfernung auf die frisch enthaarten Hautpartien aufgetragen.
            Um verstopfte Poren zu vermeiden, sollten Sie auf fetthaltige Pflegeprodukte verzichten und die Haut stattdessen mit einer Feuchtigkeitspflege sanft und weich halten.
            Tip: Wer sehr empfindliche Haut hat, kann sich in der Apotheke die leichte Betäubungscreme EMLA besorgen und mindestens eine Stunde vor dem Waxen auftragen.

        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div> <!-- End Modal Section -->

  </div> <!-- End row -->
</div><!-- End Links Targets Wax -->
</section>
</section>
{{>footer}}