<div class="tab-pane fade" id="wimpernBrauen"><!-- Links Targets wimpernBrauen-->
<div class="row">
  <div class="col-lg-12 sub-header">
    <h2>Wimpern & Brauen</h2>
  </div>
</div>
  <div class="row">
    <div class="col-lg-12 sub-header">
      <h3>  Augen  </h3>
    <p> Vollkommene wimpern und brauen, um ihre augen zu akzentuieren und ihr gesicht einzurahmen</p> 

    </div>

    <div class="col-lg-12 sub-header">
      <h3> Brauen in form  </h3>
    <p> Öffnen sie ihr gesicht und rahmen sie ihre augen mit natürliche augenbrauen ein und somit wird das gesicht hervorgehoben <br>
    <table class="table table-striped">
      <thead><th>PREIS</th></thead>
       <tbody>
      <tr>
        <td>25.-fr. bis 30.-fr.</td>
      </tr>
     </tbody>
    </table>
										
    </p> 

    </div>
    
    <div class="col-lg-12 sub-header">
      <h3> Brauen färben </h3>
    <p> Die färbung bringt nicht nur frische sondern füllt und gestaltet neu ihre augenbrauen <br>
    <table class="table table-striped">
      <thead><th>PREIS</th></thead>
      <tbody>
      <tr>
        <td>	30.-fr.</td>

      </tr>

      </tbody>
    </table>
    </p> 

    </div>
<div class="col-lg-12 sub-header">
<h3>Wimpern färben</h3>
<p> Personalisiert ihre wimpern gemäss ihre gewählte farbe - geniessen sie eine handmassage während der färbung <br>
<table class="table table-striped">
      <thead><th>PREIS</th></thead>
      <tbody>
        <tr>
        <td>   30.-fr.</td>
      </tr>
 
     </tbody>
    </table>
</p>
</div>


<div class="col-lg-12 sub-header">
<h3> Wimperwelle & färben</h3>
<p>
Die wimpernwelle bringt langanhaltenden schwung in die wimpern und ersetzt den einsatz einer wimpernzange. <br>
</p>
<table class="table table-striped">
      <thead><th>PREIS</th></thead>
      <tbody>
                <tr>
        <td>    95.-fr.</td>
      </tr>
     </tbody>
    </table>
    <p>
        <span class="w-angebot"><a href="kontakt.html"> Terminvereinbarung </a></span>
    </p>
</div>

    
  </div> <!-- End row -->
</div><!-- End Links Targets wimpernBrauen -->
