<div class="tab-pane fade" id="wimpernBrauen"><!-- Links Targets wimpernBrauen-->
<div class="row">
  <div class="col-lg-12">
    <h2>Wimpern & Brauen</h2>
  </div>
</div>
  <div class="row">
    <div class="col-lg-12">
      <h3>  Augen  </h3>
    <p> vollkommene wimpern und brauen, um ihre augen zu akzentuieren und ihr gesicht einzurahmen</p> 

    </div>

    <div class="col-lg-12">
      <h3> brauen in form  </h3>
    <p> öffnen sie ihr gesicht und rahmen sie ihre augen mit natürliche augenbrauen ein und somit wird das gesicht hervorgehoben <br>
    <table class="table">
      <thead><th>PRICE</th><th></th></thead>
       <tbody>
      <tr>
        <td>25.-fr. bis 30.-fr.</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
     </tbody>
    </table>
										
    </p> 

    </div>

    <div class="col-lg-12">
      <h3> brauen färben </h3>
    <p> Die färbung bringt nicht nur frische sondern füllt und gestaltet neu ihre augenbrauen <br>
    <table class="table">
      <thead><th>PRICE</th><th></th></thead>
      <tbody>
      <tr>
        <td>	30.-fr.</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
    </p> 

    </div>
<div class="col-lg-12">
<h3>wimpernfärben</h3>
<p> personalisiert ihre wimpern gemäss ihre gewählte farbe - geniessen sie eine handmassage während der färbung <br>
<table class="table">
      <thead><th>PRICE</th><th></th></thead>
      <tbody>
        <tr>
        <td>   30.-fr.</td>
        <td></td>
      </tr>
 
        <tr>
        <td></td>
        <td></td>
      </tr>
     </tbody>
    </table>
</p>
</div>


<div class="col-lg-12">
<h3> wimperwelle & färben</h3>
<p>
die wimpernwelle bringt langanhaltenden schwung in die wimpern und ersetzt den einsatz einer wimpernzange. <br>
<table class="table">
      <thead><th>PRICE</th><th></th></thead>
      <tbody>
                <tr>
        <td>    90.-fr.</td>
        <td></td>
      </tr>

        <tr>
        <td></td>
        <td></td>
      </tr>
     </tbody>
    </table>
    </p>
</div>

    
  </div> <!-- End row -->
</div><!-- End Links Targets wimpernBrauen -->
