{{>header}}
{{>menu}}

<section class="headings">
    <div class="container page-title">
        <div class="row">
            <div class="col-lg-12">
                <h1>ÜBER</h1>
            </div>
        </div>
    </div> <!-- Page Title -->
   
    <section class="row">

        
    </section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
<p class="ueber"> 
<b>Summer Beauty Cosmetic </b> wurde 2007 durch Sabina Mazza gegr&uuml;ndet. Dank breitem Wissen in der Hautlaboranalysen entwickelte sich 
                    die Laufbahn in Richtung Kosmetik. Mein Anliegen ist es Sie 
                    mit hervorragenden Produkten und einer nutzbringenden Beratung 
                    vollumf&auml;nglich zu verw&ouml;hnen. <br />Rufen Sie noch 
                    heute an, um sich eine wohltuende Gesichtsmassage oder ein Vollpflegeprogramm 
              - siehe  <span class="w-angebot"><a href="angebot.html" alt="nagel"> Angebot </a></span> - zu g&ouml;nnen.
 </p>

</div>


            </div>
            <div class="col-lg-2">

            </div>
        </div>
    </div>
 
</section>
 </section>
{{>footer}}