{{>header}}
{{>menu}}

<section id="header" class="headings">
    <div class="container page-title">
        <div class="row">
            <div class="col-lg-12">
                <h1>ANGEBOT</h1>
            </div>
        </div>
    </div> <!-- Page Title -->

<section id="angebot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Gesichtsbehandlung</h2>
            </div>


            <div class="col-lg-12" id="angebot-menu">
                {{>angebot-menu}}
       
            
    </div>
    </div>
    </div>
</section>
</section>
{{>footer}}