{{>header}}
{{>menu}}
<section id="header-k" class="headings">
    <div class="container page-title">
        <div class="row">
            <div class="col-lg-12">
                <h1>ANGEBOT</h1>
            </div>
        </div>
    </div> <!-- Page Title -->

    <section>
    <div class="container sub-header">
        <div class="row">
            <div class="col-lg-12">
                <h2>Körperbehandlung</h2>

            </div>
            <div class="col-lg-12">
<h3>Rückentiefreinigung</h3>
<p>Reinigung – Hautanalyse – Peeling - behandlung der hautunreinheiten - Maske & Schlusspflege</p>
<table class="table">
         <thead> 
                          <tr>
                          <th scope="col">PRICE - CHF</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr><td>180.-fr.</td></tr>

                        <tr>
  <td>810.-fr. (5x)</td>
</tr>
<tr>
  
</tr>
                      </tbody>
</table>
 
 

            </div>
   
            <div class="col-lg-12">
              <h3>Rücken Wellnessprogramm</h3> 
<p>Die sanfte rückenwellnessmassage ist sehr entspannend und tut der seele gut
reinigung – peeling - massage - maske & schlusspflege</p>
																							
                                            <table class="table">
         <thead> 
                          <tr>
                          <th scope="col">PRICE</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr><td>65.-fr.</td></tr>
<tr>
  <td>175.-fr.</td>
</tr>

<tr>
  <td>787.-fr. (5x)</td>
</tr>
                      </tbody>
</table>
            </div>
        </div>
    </div>
    </section>
</section>
{{>footer}}