{{>header}}
{{>menu}}

<section class="headings">
    <div class="container page-title">
        <div class="row">
            <div class="col-lg-12">
                <h1>ANGEBOT</h1>
            </div>
        </div>
    </div> <!-- Page Title -->

    <section>
<div class="container" id="nagel"><!-- Links Targets Nagel -->
<div class="row">
  <div class="col-lg-12">
    <h2>OPI </h2>
  </div>
</div>
  <div class="row">
    <div class="col-lg-12 sub-header"></div>
    <div class="col-lg-8">
      <h3 class="text-blue"> Classic Manicure </h3>
      <p> 
Nägel werden geformt - danach wird die nagelhaut sorgfältig gereinigt folgt den warmen handbad & eine feste hand- und armmassage - nagellack mit O.P.I. <br>
<span class="w-angebot"><a href="tmavex.html"> Siehe weiter angebot </a></span>
</p>
<table class="table table-striped">
         <thead> 
                          <tr>
                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr><td>65.-fr.</td></tr>

                      </tbody>
</table>
    </div>
     <div class="col-md-4 img-sizing img-hover img-related">
         <img src="src/img/nagel.jpg" class="img-responsive" alt=" ">
     </div>

    <div class="col-lg-12 sub-header">
      <h3> Quick Manicure</h3>
      <p>
         
Feilen & Nagellack & Schlusspflege <br>
  </p>
<table class="table table-striped">
         <thead> 
                          <tr>
                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>
<tr><td>40.-fr.</td></tr>

                      </tbody>	
    </table>
    
    </div>

    <div class="col-lg-12 sub-header">
      <h3> Permanent Polish Manicure </h3>
      <p>
          
Gel color O.P.I.  beinhaltet die classic manicure ohne handbad. <br>

      </p>
      <table class="table table-striped">
         <thead> 
                          <tr>
                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr><td>75.-fr.</td></tr>

                      </tbody>
      </table>
    </div>
    <div class="col-lg-12 sub-header">
      <h3> Classic Pedicure mit Lack</h3>
      <p>

Fussbad inclusive peeling, nägel werden geformt - danach wird die nagelhaut sorgfältig gereinigt - trockene harte haut wird unter den füssen entfernt folgt eine feste fuss- und beinmassage.
nagelllack mit O.P.I. <br>
      </p>
      <table class="table table-striped">
         <thead> 
                          <tr>
                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>
<tr><td>	Ohne lack   70.-fr. </td></tr>
<tr><td> Mit lack   80.-fr.</td></tr>

                        </tbody>
                        </table>
    </div>

    <div class="col-lg-12 sub-header">
      <h3>Quick Pedicure</h3>
      <p>

Fussbad - Feilen - Nagellack - Schlusspflege <br>


      </p>
      <table class="table table-striped">
         <thead> 
                          <tr>
                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr>
                          <td> 50.-fr.</td>
                        </tr>
                        </tbody>
      </table>
    </div>

    <div class="col-lg-12 sub-header">
      <h3>Permanent Polish Pedicure</h3>
      <p>

Gel color O.P.I.  beinhaltet die classic pedicure ohne fussdbad. <br>


      </p>
      <table class="table table-striped">
         <thead> 
                          <tr>
                          <th scope="col">PREIS</th>
                          </tr>
                        </thead>
                      <tbody>
                        <tr>
                          <td>90.-fr.</td>

                        </tbody>
      </table>
      <p>
        <span class="w-angebot"><a href="kontakt.html"> Terminvereinbarung </a></span>
    </p>
    </div>

  </div> <!-- End row -->
</div><!-- End Links Targets Nagel -->
</section>
</section>
{{>footer}}