<!-- Header Content -->
{{>header}}
<!-- Menu -->
{{>menu}}
<!-- Page Title -->
<section id="header" class="headings">
    <div class="container page-title">
        <div class="row">
            <div class="col-lg-12">
                <h1>ANGEBOT</h1>
            </div>
        </div>
    </div> <!-- Page Title -->

</section>
<section id="angebot">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" id="angebot-menu">
<!-- Mavex Treatments -->
{{>mavex }}
    </div>
    </div>
    </div>
</section>

<!-- Footer Section -->
{{>footer}}
